@{
    var courseName = "Comp2139";
    var name = "Nelson Ortiz";
    var stuNum = "101313314";
    var name1 = "Michael Mocioiu";
    var stuNum1 = "101459108";
    var name2 = "Jason Gunawan";
    var stuNum2 = "101465525";


}

<!DOCTYPE html>
    <html>
        <head>
            <title> About Us </title>

        </head>

        <body>
            <h1> Group Members for Assignment1_@courseName</h1>
            <br>
            <p> Name: @name </p>
            <p> Student Number: @stuNum</p>
                <br>
                <hr>
            <p> Name: @name1 </p>
            <p> Student Number: @stuNum1</p>
                <br>
                <hr>
            <p> Name: @name2 </p>
            <p> Student Number: @stuNum2</p>
                   
        </body>

    </html>




